---
layout: layout.liquid
title: Planetary Playing Cards
---
<header>
  <h1>{{ title }}</h1>
</header>
<main class="grid">
  {% for planet in collections.planets %}
    {% include "card.liquid", planet: planet %}
  {% endfor %}
</main>

<script src="https://unpkg.com/scrollreveal"></script>
<script>
  ScrollReveal().reveal('.card', {
    delay: 200,
    distance: '50px',
    origin: 'bottom',
    interval: 100
  });
</script>