<div class="card{% if planet.name == 'Sun' %} sun{% endif %}" 
     style="--planet-color: {{ planet.color }};">
  <div class="planet"></div>
  <h2>{{ planet.name }}</h2>
  {% if planet.type %}
    <p>Type: {{ planet.type }}</p>  <!-- Sun specific field -->
  {% else %}
    <p>{{ planet.au }} AU</p>
  {% endif %}
</div>