<div class="card" style="--planet-color: {{ planet.color }};">
  <div class="planet"></div>
  <h2>{{ planet.name }}</h2>
  {% if planet.type %}
    <p>Type: {{ planet.type }}</p>
  {% else %}
    <p>{{ planet.au }} AU</p>
  {% endif %}
</div>